pre span, .example-span, .js-succeed { padding: .2em; margin: .2em 0; display: block; border-radius: 3px; }
.example-span, .js-succeed { background: lightgreen; }
.example-span { display: inline-block !important; }
::made-up-pseudo-element, .test_css_0-0 { background: lightgreen; }
@media screen and (min-width:0\0) { .test_css_34-0 { background: lightgreen; } }
@media screen and (-webkit-min-device-pixel-ratio:0) { .test_css_1-0 { background: lightgreen; } }
::made-up-pseudo-element, .test_css_0-0 { background: lightgreen; }
.test_css_2-0 { (;background: lightgreen;); } 
.test_css_2-1 { [;background: lightgreen;]; }
@media screen and (-webkit-min-device-pixel-ratio:0) { .test_css_1-0 { background: lightgreen; } }
body:empty .test_css_6-0 { background: lightgreen; }
body:not(:-moz-handler-blocked) .test_css_9-0 { background: lightgreen; }
.test_css_7-0, x:-moz-any-link { background: lightgreen; }
.test_css_8-0, x:-moz-any-link, x:default { background: lightgreen; }
@-moz-document url-prefix() { .test_css_20-0 { background: lightgreen; } }
@media screen and (-moz-images-in-menus:0) { .test_css_10-0 { background: lightgreen; } }
@media screen and (min--moz-device-pixel-ratio:0) { .test_css_11-0 { background: lightgreen; } }
html > body .test_css_24-0 { background: lightgreen; }
* html .test_css_21-0  { background: lightgreen; } 
.unused-class.test_css_21-1 { background: lightgreen; }
*:first-child+html .test_css_23-0 { background: lightgreen; } 
.test_css_23-1, x:-IE7 { background: lightgreen; } 
*+html .test_css_23-2 { background: lightgreen; } 
body*.test_css_23-3 { background: lightgreen; } 
.test_css_23-4\ { background: lightgreen; }
.test_css_22-0, { background: lightgreen; }
html > /**/ body .test_css_25-0 { background: lightgreen; }
head ~ /**/ body .test_css_25-1 { background: lightgreen; }
:root *> .test_css_26-0 { background: lightgreen; } 
body:last-child .test_css_26-1 { background: lightgreen; } 
body:nth-of-type(1) .test_css_26-2 { background: lightgreen; } 
body:first-of-type .test_css_26-3 { background: lightgreen; }
.test_css_26-4:not([attr*='']) { background: lightgreen; }
.test_css_7-0, x:-moz-any-link { background: lightgreen; }
.test_css_8-0, x:-moz-any-link, x:default { background: lightgreen; }
_:-o-prefocus, .test_css_71-0 { background: lightgreen; }
::made-up-pseudo-element, .test_css_0-0 { background: lightgreen; }
.test_css_27-0 { _background: lightgreen;  } 
.test_css_27-1 { -background: lightgreen;  }
.test_css_30-0 { background: lightgreen\9; } 
.test_css_30-1 { background/*\**/: lightgreen\9; }
.test_css_29-0 { background: lightgreen !ie; }
.test_css_28-0 { !background: lightgreen; } 
.test_css_28-1 { $background: lightgreen; } 
.test_css_28-2 { &background: lightgreen; } 
.test_css_28-3 { *background: lightgreen; } 
.test_css_28-4 { )background: lightgreen; } 
.test_css_28-5 { =background: lightgreen; } 
.test_css_28-6 { %background: lightgreen; } 
.test_css_28-7 { +background: lightgreen; } 
.test_css_28-8 { @background: lightgreen; } 
.test_css_28-9 { ,background: lightgreen; } 
.test_css_28-10 { .background: lightgreen; } 
.test_css_28-11 { /background: lightgreen; } 
.test_css_28-12 { `background: lightgreen; } 
.test_css_28-13 { [background: lightgreen; } 
.test_css_28-14 { ]background: lightgreen; } 
.test_css_28-15 { #background: lightgreen; } 
.test_css_28-16 { ~background: lightgreen; } 
.test_css_28-17 { ?background: lightgreen; } 
.test_css_28-18 { :background: lightgreen; } 
.test_css_28-19 { |background: lightgreen; }
@media screen\9 { .test_css_31-0 { background: lightgreen; } }
@media \0screen { .test_css_33-0 { background: lightgreen; } }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .test_css_35-0 { background: lightgreen; } }
@media \0screen\,screen\9 { .test_css_32-0 { background: lightgreen; } }
@media screen { @media (min-width: 0px) { .test_css_36-0 { background: lightgreen; } } }
@media screen and (min-width:0\0) { .test_css_34-0 { background: lightgreen; } }
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) { .test_css_72-0 { background: lightgreen; } }
*|html[xmlns*=""] .test_css_77-0 { background: lightgreen; }
html:first-child .test_css_69-0 { background: lightgreen; }
_:-o-prefocus, .test_css_71-0 { background: lightgreen; }
.test_css_2-0 { (;background: lightgreen;); } 
.test_css_2-1 { [;background: lightgreen;]; }
@media (min-resolution: .001dpcm) { _:-o-prefocus, .test_css_75-0 { background: lightgreen; } }
@media screen and (-webkit-min-device-pixel-ratio:0) { .test_css_1-0 { background: lightgreen; } }
html[xmlns*=""] body:last-child .test_css_76-0 { background: lightgreen; } 
html[xmlns*=""]:root .test_css_76-1  { background: lightgreen; }
*|html[xmlns*=""] .test_css_77-0 { background: lightgreen; }
html:first-child .test_css_69-0 { background: lightgreen; }
::made-up-pseudo-element, .test_css_0-0 { background: lightgreen; }
.test_css_2-0 { (;background: lightgreen;); } 
.test_css_2-1 { [;background: lightgreen;]; }
@media screen { @media (min-width: 0px) { .test_css_36-0 { background: lightgreen; } } }
@media screen and (min-width:0\0) { .test_css_34-0 { background: lightgreen; } }
@media screen and (-webkit-min-device-pixel-ratio:0) { .test_css_1-0 { background: lightgreen; } }
