/* ************** *
 * $IE STYLESHEET *
 * ************** */
/**
 * Compass imports
 */
/**
 * Variables
 */
/**
 * File imports
 */
/* ************* *
 * $GOOGLE FONTS *
 * ************* */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(http://themes.googleusercontent.com/static/fonts/montserrat/v3/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}

/* *************** *
 * $HOME ANIMATION *
 * *************** */
/**
 * Default styles
 */
.catch-phrase {
  text-align: center;
  font-size: 1.3em;
  color: #737373;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 .05em white;
  margin-top: 0;
  position: relative;
}

.catch-phrase__anim {
  color: #0a90dd;
  position: absolute;
}

.catch-phrase__space {
  padding-left: 0.85em;
  padding-left: 1.25ch;
}

/**
 * All the spans from `.catch-phrase__anim` are hidden ...
 */
.catch-phrase__anim span {
  display: none;
    /**
	 * ... if CSS animations are supported,
	 * all the spans from .catch-phrase__anim are displayed
	 */
}
.cssanimations .catch-phrase__anim span {
  position: absolute;
  opacity: 0;
  display: block;
}

/**
 * Mixin handling everything
 */
/**
 * Call the mixin
 */
.catch-phrase__anim span {
  -webkit-animation: showWord 14s linear infinite;
  -moz-animation: showWord 14s linear infinite;
  animation: showWord 14s linear infinite;
}

.catch-phrase__anim span:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

.catch-phrase__anim span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.catch-phrase__anim span:nth-child(3) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.catch-phrase__anim span:nth-child(4) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.catch-phrase__anim span:nth-child(5) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.catch-phrase__anim span:nth-child(6) {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.catch-phrase__anim span:nth-child(7) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.catch-phrase__anim span:nth-child(8) {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.catch-phrase__anim span:nth-child(9) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.catch-phrase__anim span:nth-child(10) {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.catch-phrase__anim span:nth-child(11) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}

.catch-phrase__anim span:nth-child(12) {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

.catch-phrase__anim span:nth-child(13) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.catch-phrase__anim span:nth-child(14) {
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  animation-delay: 6.5s;
}

.catch-phrase__anim span:nth-child(15) {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s;
}

.catch-phrase__anim span:nth-child(16) {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

.catch-phrase__anim span:nth-child(17) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}

.catch-phrase__anim span:nth-child(18) {
  -webkit-animation-delay: 8.5s;
  -moz-animation-delay: 8.5s;
  animation-delay: 8.5s;
}

.catch-phrase__anim span:nth-child(19) {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  animation-delay: 9s;
}

.catch-phrase__anim span:nth-child(20) {
  -webkit-animation-delay: 9.5s;
  -moz-animation-delay: 9.5s;
  animation-delay: 9.5s;
}

.catch-phrase__anim span:nth-child(21) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  animation-delay: 10s;
}

.catch-phrase__anim span:nth-child(22) {
  -webkit-animation-delay: 10.5s;
  -moz-animation-delay: 10.5s;
  animation-delay: 10.5s;
}

.catch-phrase__anim span:nth-child(23) {
  -webkit-animation-delay: 11s;
  -moz-animation-delay: 11s;
  animation-delay: 11s;
}

.catch-phrase__anim span:nth-child(24) {
  -webkit-animation-delay: 11.5s;
  -moz-animation-delay: 11.5s;
  animation-delay: 11.5s;
}

.catch-phrase__anim span:nth-child(25) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
}

.catch-phrase__anim span:nth-child(26) {
  -webkit-animation-delay: 12.5s;
  -moz-animation-delay: 12.5s;
  animation-delay: 12.5s;
}

.catch-phrase__anim span:nth-child(27) {
  -webkit-animation-delay: 13s;
  -moz-animation-delay: 13s;
  animation-delay: 13s;
}

.catch-phrase__anim span:nth-child(28) {
  -webkit-animation-delay: 13.5s;
  -moz-animation-delay: 13.5s;
  animation-delay: 13.5s;
}

@-webkit-keyframes showWord {
  0%, 3.57143% {
    opacity: 1;
  }

  3.5727%, 100% {
    opacity: 0;
  }
}

@-moz-keyframes showWord {
  0%, 3.57143% {
    opacity: 1;
  }

  3.5727%, 100% {
    opacity: 0;
  }
}

@keyframes showWord {
  0%, 3.57143% {
    opacity: 1;
  }

  3.5727%, 100% {
    opacity: 0;
  }
}

.nav-browser, article,
section,
section > div, .header-test {
  *zoom: 1;
}
.nav-browser:after, article:after,
section:after,
section > div:after, .header-test:after, .nav-browser:before, article:before,
section:before,
section > div:before, .header-test:before {
  clear: both;
  content: '';
  display: table;
}

* {
  margin: 0;
  padding: 0;
}

html {
  max-height: 100%;
}

body {
  font: 1.2em/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  background: url(/img/grey.png) #eeeeee;
  position: relative;
  overflow: visible;
}

.nav-browser {
  width: 100%;
  list-style: none;
}
.nav-browser li {
  width: 19.9%;
  float: left;
  padding: 5px 0;
}
.nav-browser a {
  text-align: center;
  display: block;
  color: #333;
  text-decoration: none;
}
.nav-browser .ch {
  background: gold;
}
.nav-browser .sa {
  background: #999999;
}
.nav-browser .op {
  background: #f63b3c;
}
.nav-browser .fx {
  background: #f77918;
}
.nav-browser .ie {
  background: #0a90dd;
}

h1 {
  text-align: center;
  font: 4em 'PT Mono', sans-serif;
  text-shadow: 0 .03em white, 0 .06em silver;
  text-transform: uppercase;
  margin: 1em 0 0 0;
  color: #333;
}
h1 a {
  color: #333 !important;
  text-decoration: none;
}

.header-test div {
  float: left;
  width: 47.9% !important;
  padding: 1%;
}
.header-test h2 {
  font-size: 1.7em;
}

#ch, #fx, #sa, #op, #ie {
  margin: 1%;
  padding: 1% 0;
  border-top: 5px solid;
}
#ch h2, #fx h2, #sa h2, #op h2, #ie h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted;
}
#ch h3, #fx h3, #sa h3, #op h3, #ie h3 {
  border-bottom: 1px solid silver;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#ch pre, #fx pre, #sa pre, #op pre, #ie pre {
  margin-bottom: 15px;
  border: 1px dotted silver;
  padding: 5px;
}

#ch, #ch h2 {
  border-color: gold;
}

#fx, #fx h2 {
  border-color: #f77918;
}

#op, #op h2 {
  border-color: #f63b3c;
}

#sa, #sa h2 {
  border-color: #999999;
}

#ie, #ie h2 {
  border-color: #0a90dd;
}

.footer-test {
  padding: 1%;
}

.th {
  background: none;
  padding: 0;
}

.nav-browser a {
  background-image: none;
}
