/*
Syntax error: Invalid CSS after "...xel-ratio: 1.3)": expected "{", was "only screen and..."
        on line 21 of C:/Program Files/EasyPHP-12.1/www/browserhacks/sass/helpers/_mixins.scss
        from line 6 of C:/Program Files/EasyPHP-12.1/www/browserhacks/sass/browserhacks.scss

Backtrace:
C:/Program Files/EasyPHP-12.1/www/browserhacks/sass/helpers/_mixins.scss:21
C:/Program Files/EasyPHP-12.1/www/browserhacks/sass/browserhacks.scss:6
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:1146:in `expected'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:1084:in `expected'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:1079:in `tok!'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:534:in `block'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:349:in `media_directive'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:175:in `special_directive'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:147:in `directive'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:554:in `block_child'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:543:in `block_contents'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:535:in `block'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:265:in `if_directive'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:175:in `special_directive'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:147:in `directive'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:554:in `block_child'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:546:in `block_contents'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:535:in `block'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:187:in `mixin_directive'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:175:in `special_directive'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:147:in `directive'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:553:in `block_child'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:543:in `block_contents'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:82:in `stylesheet'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/scss/parser.rb:27:in `parse'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/engine.rb:342:in `_to_tree'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/engine.rb:274:in `to_tree'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/bin/compass:44:in `call'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
C:/Ruby200/bin/compass:23:in `load'
C:/Ruby200/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...xel-ratio: 1.3)\": expected \"{\", was \"only screen and...\"\A         on line 21 of C:/Program Files/EasyPHP-12.1/www/browserhacks/sass/helpers/_mixins.scss\A         from line 6 of C:/Program Files/EasyPHP-12.1/www/browserhacks/sass/browserhacks.scss"; }
