pre span, 
.example-span,
.js-succeed {
	padding: .2em;
	display: inline-block;
	border-radius: 3px;
}

.example-span,
.js-succeed {
	background: lightgreen;
}

* html .test1  { background: lightgreen; }
.ie6fix.test2 { background: lightgreen; } 
.test3, { background: lightgreen; } 
//.test4 { background: lightgreen; } /* Doesn't seem to work */
*:first-child + html .test5 { background: lightgreen; } 
.test6, x:-IE7 { background: lightgreen; } 
* + html .test7 { background: lightgreen; }
html > body .test8 { background: lightgreen; }
html > /**/ body .test9 { background: lightgreen; }
:root * > .test10 { background: lightgreen; }
body:last-child .test11 { background: lightgreen; }
/*
.test12 { _background: lightgreen; }
.test13 { -background: lightgreen; }
.test14 { £background: lightgreen; }
.test15 { ¬background: lightgreen; }
.test16 { ¦background: lightgreen; }
.test17 { !background: lightgreen; }
.test18 { $background: lightgreen; }
.test19 { &background: lightgreen; }
.test20 { *background: lightgreen; }
.test21 { (background: lightgreen; }
.test22 { )background: lightgreen; }
.test23 { =background: lightgreen; }
.test24 { %background: lightgreen; }
.test25 { +background: lightgreen; }
.test26 { @background: lightgreen; }
.test27 { ,background: lightgreen; }
.test28 { .background: lightgreen; }
.test29 { /background: lightgreen; }
.test30 { `background: lightgreen; }
.test31 { [background: lightgreen; }
.test32 { ]background: lightgreen; }
.test33 { #background: lightgreen; }
.test34 { ~background: lightgreen; }
.test35 { ?background: lightgreen; }
.test36 { :background: lightgreen; }
.test37 { <background: lightgreen; }
.test38 { >background: lightgreen; }
.test39 { |background: lightgreen; }
*/
.test40 { background: lightgreen !ie; } 
.test41 { background: lightgreen\9; }
.test42 { background/*\**/: lightgreen\9; }
.test43 { background: lightgreen\0\/; } 
.test44 { background/**/: lightgreen; }
body:nth-of-type(1) .test45 { background: lightgreen; }
body:first-of-type .test46 { background: lightgreen; }
@media screen\9 { .test72 { background: lightgreen;  } } 
@media \0screen\,screen\9 { .test47 { background: lightgreen;  } } 
@media \0screen { .test48 { background: lightgreen;  } } 
@media screen\0 { .test49 { background: lightgreen;  } } 
@media screen and (min-width:0\0) {.test50 { background: lightgreen;  } } 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .test51 { background: lightgreen; } } 
@media screen and (min-width: 400px) { .test52 { background: lightgreen;  } } 
@import "selector.css" all;
.test54, x:-moz-any-link { background: lightgreen; }
.test55, x:-moz-any-link, x:default { background: lightgreen; }
body:not(:-moz-handler-blocked) .test56 { background: lightgreen; }
@media screen and (min-resolution: +72dpi) { .test57 { background: lightgreen; } }
@-moz-document url-prefix() { .test58 { background: lightgreen; } }
::made-up-pseudo-element, .test59 { background: lightgreen; }
html[xmlns*=""] body:last-child .test60 { background: lightgreen; }
html[xmlns*=""]:root .test61  { background: lightgreen; }
*|html[xmlns*=""] .test62 { background: lightgreen; }
@media screen and (-webkit-min-device-pixel-ratio:0) { .test63 { background: lightgreen; } }
noindex:-o-prefocus, .test64 { background: lightgreen; }
body:empty .test65 { background: lightgreen; }
@media all and (min-width: 0px){ body:empty .test66 { background: lightgreen; } }
@media screen and (-moz-images-in-menus:0) { .test67 { background: lightgreen; } }
@media screen and (min--moz-device-pixel-ratio:0) { .test68 { background: lightgreen; } }
.test69:nth-of-type(1n) { background: lightgreen\9; }
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) { .test70 { background: lightgreen; } }
head ~ /* */ body .test71 { background: lightgreen; }
*|html[xmlns*=""] .test73 { background: lightgreen; }
html:first-child .test74 { background: lightgreen; }
.test75 { (;background: lightgreen;); }
.test76 { [;background: lightgreen;]; }