/* ***** *
 * $MAIN *
 * ***** */

/**
 * Body
 */
body {
    font: 1.2em/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica","Arial", "Lucida Grande", sans-serif;
    position: relative;
    padding-top: 1em;

    @include breakpoint(baby-bear) {
      font-size:.925em;
    }

    // Color stripes
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: .5em;
        $stripes: ();
        @each $b in $browsers {
          $stripes: append($stripes, nth($b, 2));
        }
        @include stripes($stripes, to right);

    }
}


/**
* Links
*/
a {
    &,
    &:visited,
    &:active {
        text-decoration:none;
        color: #0a90dd;
        @include transition(color .25s ease-in-out)
    }

    &:hover,
    &:focus {
        color: #999;
    }
}