/* ********* *
 * $HEADINGS *
 * ********* */

h2 {
    font: 1.8em 'Montserrat', sans-serif;
    padding-bottom: .4em;
    margin: 0;
    border-bottom: .225em solid #aaa;
}

h3 {
    font: normal 1.35em 'Montserrat', sans-serif;
    margin-bottom:0;
    margin-top:.25em;
}

/**
* Browser headings
*/
.th {
    border-bottom: .25em solid;

    a { color: black; }
    
    span {
        font-size: 1.5em;
        @include inline-block(middle);
        text-shadow: 0 1px solid rgba(0,0,0,.1);
    }
}

@each $b in $browsers {
    .#{nth($b, 1)} .th {
        border-color: nth($b, 2);

        span {
            color: nth($b, 2);
        }
    }
}

.browser-wrapper__heading {
    padding-top: 3em;
}