#quotes {
    background-color: tint($internetExplorer, 90%);
}

.quote {
    background-color: tint($opera, 90%);
    border-bottom: (($baseline / 3) / 1.5) solid $opera;
    font-size: 1.5em;
    margin-bottom: 0;
    padding: (($baseline * 2) / 1.5) 0;
    text-align: center;

    p {
        font-style: italic;
        margin-bottom: 0;
        @include inline-block;

        &:after {
            content: '\201d';
        }

        &:before {
            content: '\201c';
        }
    }

    a {
        color: $internetExplorer;
        text-decoration: none;

        &:hover,
        &:focus  {
            color: lighten($internetExplorer, 20%);
        }
    }
}
.quote-authors {
    list-style: none;
    overflow-x: auto;
    margin: 0;
    white-space: nowrap;

    li {
        @include inline-block;

        a {
            border-bottom: 0 !important;
            display: block;
            padding: ($baseline * 1.5) $baseline $baseline;
            text-decoration: none;
        }
    }
    
    .active {
        position: relative;

        a:after {
            border-left: $baseline solid transparent;
            border-right: $baseline solid transparent;
            border-top: $baseline solid $opera;
            content: '';
            height: 0;
            left: 50%;
            margin-left: ($baseline * -1);
            position: absolute;
            top: 0;
            width: 0;
        }
    }
}