#quotes {
    background-color: tint($internetExplorer, 90%);
}

.quote {
    background-color: tint($opera, 90%);
    border-bottom: (($baseline / 3) / 1.5) solid $opera;
    font-size: 1.5em;
    margin-bottom: 0;
    padding: (($baseline * 2) / 1.5) 0;
    text-align: center;

    p {
        font-style: italic;
        margin-bottom: 0;
        @include inline-block(none);

        &:after {
            content: '\201d';
        }

        &:before {
            content: '\201c';
        }
    }

    a {
        color: $internetExplorer;
        text-decoration: none;

        &:hover,
        &:focus  {
            color: lighten($internetExplorer, 20%);
        }
    }

    @include bp(small) {
        padding-left: $baseline;
        padding-right: $baseline;
    }
}
.quote-authors {
    list-style: none;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0;
    white-space: nowrap;

    li {
        @include inline-block;
        -webkit-filter: grayscale(100%) blur(1px);
        -moz-filter: grayscale(100%) blur(1px);
        -ms-filter: grayscale(100%) blur(1px);
        -o-filter: grayscale(100%) blur(1px);
        filter: grayscale(100%) blur(1px);

        a {
            border-bottom: 0 !important;
            display: block;
            font-size: .8em;
            padding: 0 2em 1em;
            text-decoration: none;
            color: #333;
        }
    }
    
    .active {
        position: relative;

        a:after {
            border-left: $baseline solid transparent;
            border-right: $baseline solid transparent;
            border-top: $baseline solid $opera;
            content: '';
            height: 0;
            left: 50%;
            margin-left: ($baseline * -1);
            position: absolute;
            top: 0;
            width: 0;
        }
    }

    .active, li:hover, li:focus {
        -webkit-filter: grayscale(0) blur(0);
        -moz-filter: grayscale(0) blur(0);
        -ms-filter: grayscale(0) blur(0);
        -o-filter: grayscale(0) blur(0);
        filter: grayscale(0) blur(0);
    }

}

.avatar-sprite, 
.avatar-ashleycallahan, 
.avatar-bluespore, 
.avatar-chinchang457, 
.avatar-codepo8, 
.avatar-desainersingit, 
.avatar-fabien_doiron, 
.avatar-garazi, .avatar-grimmweb, 
.avatar-iSands, 
.avatar-jaredsartin, 
.avatar-markszymik, 
.avatar-nate_weldon, 
.avatar-paul_irish, 
.avatar-petesena, 
.avatar-ronicadesign, 
.avatar-sgalineau, 
.avatar-shakeeb, 
.avatar-slashlv, 
.avatar-therusstler, 
.avatar-toddvachon {
    background-image: url('../img/avatar-s5b3bfef4fa.png');
    background-repeat: no-repeat;
}

.quotes .quote-authors__avatar>div {
    width: 73px;
    height: 73px;
    display: block;
    margin: 1em auto;
    border-radius: 50%;
    border: 3px solid tint($opera, 90%);
    box-shadow: 0 0 0 3px #eee;
}

@import "compass/utilities/sprites";
@import "avatar/*.png";
@include all-avatar-sprites;