/* ********** *
 * $CRYSTALLO *
 * ********** */

/**
 * Cool box-sizing
 */
*,
*:before,
*:after {
	@include box-sizing(border-box);
}

html,
body {
	margin:0;
	padding:0;
}

body {
	overflow-x: hidden;
	$breakpoints: 860, 1024, 1152, 1280, 1400, 1600, 2048, 3200, 4000;
	@each $breakpoint in $breakpoints {
    	&[data-max-width="#{$breakpoint}"] section[data-cols] {
			max-width: $breakpoint+px;
		}

		@if $breakpoint > 1500 {
			@media screen and (min-width: $breakpoint+px) {
				&[data-auto-extend="true"] section[data-cols] {
					max-width: $breakpoint+px;
				}
			}
		}
	}
}

button {
	width: 100%;
	cursor: pointer;
}

article {
	position: relative;
	margin-top: 1em;
}

section {
	position: relative;
	overflow: hidden;
	margin: 0 auto;

	&[data-valign='center'] {
		display:block

		> div,
		> div + * {
			display:table-cell;
			vertical-align:middle;
		}
	}

	> div {
		height:100%;
		margin:0;
	}
} 


article[data-high]:before,
article[data-high]:after,
article[data-text]:before,
article[data-text]:after,
pre[data-text]:before,
pre[data-text]:after {
	content:'';
	position:absolute;
	top:0;
	left:0;
}

@media screen and (min-width: 44em) {
	section[data-cols='2'] > div,
	section[data-cols='3'] > div,
	section[data-cols='4'] > div,
	section[data-cols='5'] > div,
	section[data-cols='5'] > div:nth-child(4),
	section[data-cols='5'] > div:nth-child(5) {
		float:left;
		width:50%;
	}
	section[data-cols='2'] > div:nth-child(odd) {
		clear:both;
	}
	section[data-cols='3'] > div:last-child,
	section[data-cols='5'] > div:last-child {
		width:100%;
	}
}

@media screen and (min-width: 66em) {
	section[data-cols='3'] > div,
	section[data-cols='4'] > div,
	section[data-cols='5'] > div {
		width:33.3%;
	}

	section[data-cols='3'] > div:last-child {
		width:33.3%;
	}

	section[data-cols='5'] > div:nth-child(5) {
		width:50%;
	}

	section[data-cols='4'] > div:last-child {
		width:100%;
	}
}

@media screen and (min-width: 74em) {
	section[data-cols='4'] > div,
	section[data-cols='4'] > div:last-child {
		width:25%;
	}
	section[data-cols='4'] > div:nth-child(4n+1) {
		clear:both;
	}
}

@media screen and (min-width: 80em) {
	section[data-cols='5'] > div,
	section[data-cols='5'] > div:last-child,
	section[data-cols='5'] > div:nth-child(4) {
		width:20%;
	}
}