/* ********* *
 * $HEADINGS *
 * ********* */

.header {
  margin: 5em 0 0 0;

  @include breakpoint(mama-bear) {
    div {
      width: 100% !important;
    }

    h1 {
      margin: 0;
      text-align: center;
    }

    div[data-type="search"] {
      margin: 0;
    }
  }
}

h1 {
  font:3.2em 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: #333;
  letter-spacing: -2px;

  span {
    color: $fx;
  }

  @include breakpoint(baby-bear) {
    text-align: center;
    font-size: 2em;
  }

  
}

h2 {
  font: 1.8em 'Montserrat', sans-serif;
  padding-bottom: 0.4em;
  margin-bottom: 0.4em;
  border-bottom: .225em solid #aaa;
  text-align: left;

  span {
    color: #aaa;
  }
}

h3 {
  font: bold 1.15em 'PT Mono', sans-serif;
  border-bottom: 1px solid silver;
  padding-bottom: 0.5em;
}