/* ********* *
 * $HEADINGS *
 * ********* */

.header {
  margin: 4em 0 2.5em 0;

  section {
    &:first-child {
      margin-bottom: 2.5em;
    }
  }

  @include breakpoint(mama-bear) {
    div {
      width: 100% !important;
    }

    h1 {
      margin: 0;
      text-align: center;
    }

    div[data-type="search"] {
      margin: 0;
    }
  }
}

h1 {
  font:3.2em 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -2px;

  span {
    color: $fx;
    @include transition(color .25s ease-in-out);
  }

  a.logo {
    color: #555;

    &:hover {
      color: $fx;

      span {
        color: #555;
      }
    }
  }

  @include breakpoint(baby-bear) {
    text-align: center;
    font-size: 2.75em;
  }

}

h2 {
  font: 1.8em 'Montserrat', sans-serif;
  padding-bottom: .4em;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: .225em solid #aaa;
  text-align: left;

  span {
    color: #aaa;
  }
}

h3 {
  font: bold 1.15em 'PT Mono', sans-serif;
  border-bottom: 1px solid silver;
  padding-bottom: 0.25em;
  margin-bottom:0;
  margin-top:.25em;
}