//Variables
$ie: #0a90dd;
$fx: #f77918; // #e26c0c
$ch: gold; //#3cbc44;
$sa: #999; //#46bfe6;
$op: #f63b3c;
$us: #4ae9b8; // Our awesome colour :D
$prism_css: #690;

//MQ
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 79em) { @content; }
  }
  @if $point == mama-bear {
    @media (max-width: 66em) { @content; }
  }
  @if $point == baby-bear {
    @media (max-width: 44em) { @content; } 
  }
}

//Retina
@mixin retina() {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    
    @content;

  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}