/* ******* *
 * $QUOTES *
 * ******* */

/*section*/
.quotes {

	/*blockquote*/
	.quote {
		background: lighten($sa, 30%);
		padding: 20px;
		margin: 0;
		font-size: 1.5em;
		text-align: center;
		color: lighten($op, 10%);
		border-bottom:.25em solid lighten($op, 10%);

		@include breakpoint(baby-bear) { 
			min-height:7.5em;
		}

		@include breakpoint(mama-bear) { 
			min-height:6.5em;
		}
	}

	/*p*/
	.quote-content {
		margin: 0;
		@include inline-block(top);
		
		&:before { content: '“'; }
		&:after  { content: '”'; }
	}

	/*a*/
	.quote-author {
		font-size: 0.8em;
	}

	/*ul*/
	.quote-authors {
		list-style: none;
		padding: 0;
		margin:0;
		width: 100%;
		white-space:nowrap;
    overflow-x:auto;
    background: rgba(0, 0, 0, .125);

		li {
			display:inline-block;
			width: 10em;
			height: 7em;
			padding: 1.5em 0 0 0;
			margin: 0 0 .75em 0;
			text-align: center;
			@include filter(grayscale(100%) blur(1px));

			&:hover {
				@include filter(grayscale(0) blur(0));
			}

			@include breakpoint(baby-bear) { 
				width: 10em; 
				margin: 1em 0; 
			}
		}

		.active {
			position: relative;
			@include filter(grayscale(0%));

			&:before {
				content: '';
				@include transform(rotate(45deg));
				background: #f86c6d;
				width: 1.25em;
				height: 1.25em;
				position: absolute;
				z-index:1;
				left: 50%;
				margin-left: -.625em;
				top: -.625em;
			}

			.quote-authors__avatar {
				box-shadow: 
					0 0 0 .25em lighten($op, 10%), 
					0 0 0 .45em rgba(0, 0, 0, .15)
				;

				@include transform(scale(1.25, 1.25) rotateZ(360deg));
			}
		}

		&::-webkit-scrollbar {
			height: 1.5em;
		}
		
		&::-webkit-file-upload-button element,
		&::-webkit-scrollbar-thumb {
      background: rgba(104, 104, 104, .5);
    }
    
    &::-webkit-slider-thumb element,
    &::-webkit-scrollbar-track {
      background-color: rgba(217, 217, 217, .5);
	  }


	}

	/*div*/
	.quote-authors__avatar {
		width: 73px;
		height: 73px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
		cursor: pointer;
		box-shadow: 0 0 0 5px rgba(0,0,0,.075);
		@include transition(.2s);

		&:hover {
			box-shadow: none;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	/*a*/
	.quote-authors__name {
		margin-top: .5em;
		display: block;
	}

}