/* ******* *
 * $QUOTES *
 * ******* */

/*section*/
.quotes {
	padding-top:2em;

	$color-quotes: lighten($op, 0);

	/*blockquote*/
	.quote {
		padding: 1em;
		margin: 0;
		font-size: 1.5em;
		text-align: center;
		color: $color-quotes;
		background: rgba(0, 0, 0, .05);
		border-bottom: .25em solid $color-quotes;

    @include breakpoint(mama-bear){ min-height:7em; }
		@include breakpoint(baby-bear){ min-height:8.5em; }
	}

	/*p*/
	.quote-content {
		margin: 0;
		@include inline-block(top);
		
		&:before { content: '“'; }
		&:after  { content: '”'; }
	}

	/*a*/
	.quote-author {
		font-size: 0.75em;
	}

	/*ul*/
	.quote-authors {
		list-style: none;
		padding: 0;
		margin:  0;
		width: 100%;
		white-space: nowrap;
   		overflow-x: auto;

		li {
			position: relative;
			width: 10em;
			padding: 2.5em 0 0 0;
			margin: 0 0 1em 0;
			text-align: center;
			opacity:.55;
			@include inline-block(middle);
			@include filter(grayscale(100%) blur(1px));
			@include transition(.25s all ease-in-out);

			&:hover {
				@include filter(grayscale(0) blur(0));
				opacity:1;
			}
		}

		.active {

			opacity:1;
			@include transform(translateY(-1em));

			&:before {
				content: '';
				@include transform(rotate(45deg));
				background: $color-quotes;
				width: 1.25em;
				height: 1.25em;
				position: absolute;
				z-index: 1;
				left: 50%;
				margin-left: -.625em;
				top: .325em;
			}

			@include filter(grayscale(0) blur(0));

			.quote-authors__avatar {
				box-shadow: 
					0 0 0 .25em $color-quotes, 
					0 0 0 .45em rgba(0, 0, 0, .15);	
				
				@include transform(scale(1.1, 1.1));
			}
		}

		/**
		 * Webkit custom scrollbars
		 */
		&::-webkit-scrollbar {
			height: .5em;
		}
		
		&::-webkit-file-upload-button element,
		&::-webkit-scrollbar-thumb {
      		background: rgba(104, 104, 104, .5);
    	}
    
    	&::-webkit-slider-thumb element,
    	&::-webkit-scrollbar-track {
      		background-color: rgba(217, 217, 217, .5);
		}
	}

	/*div*/
	.quote-authors__avatar {
		border-radius: 50%;
		box-shadow: 0 0 0 .25em rgba(0,0,0,.075);
		width: 73px;
		height: 73px;
		margin: 0 auto;
		cursor: pointer;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			border-radius: 50%;	
		}
	}

	/*a*/
	.quote-authors__name {
		margin-top: 1em;
		display: block;
		font-size: 0.9em;
	}

}