/* ******* *
* $SEARCH *
* ******* */

.form-wrapper {
    margin: 0;
    padding: .5em 0 .5em .5em;
    position: relative;
    width: 75%;
    float: right;

    input {
        width: 100%;
        background: rgba(#eee, .3);
        height: 1.5em;
        font: 2em/1.5 sans-serif;
        padding: 0 .5em;
        outline:none;
        border: rgba(0,0,0, .75) solid .015em;
        border-left: .25em solid rgba(0, 0, 0, .3);
        @include transition(.25s);

        &:focus {
            background: rgba($sa, 0.2);
            border-color: $ie;
            color: #000;
        }
    }

    @include breakpoint(papa-bear) {
        &:before {
            content: '';
            position: absolute;
            width: 0; 
            height: 0;
            left: -1.3em; 
            border-top: 1.5em solid transparent;
            border-bottom: 1.5em solid transparent; 
            border-right: 1.5em solid rgba(0,0,0,.3); 
            @include transition(.25s ease-in-out);
        }

        .active &:before { border-right-color: $ie; }
    }

    @include breakpoint(mama-bear) {
        width: 100%;
        float: none;
        padding: 0;
    }
}

.ua {
    background: lighten($ie, 45%);
    border-radius: .2em;
    font-size: .8em;
    color: adjust-hue(lighten($ie, 25%), 10%);
    padding: .5em;
    float: right;
    clear: both;
    margin: 0;
    font-weight: bold;

    @include breakpoint(mama-bear) {
        float: none;
        margin: 1em 0;
    }
}