/* ******* *
 * $SEARCH *
 * ******* */

div[data-type="search"] {
  @include transition(.15s width ease-in-out);
  margin-top:1em;

  &.active {
    //width:100%;
  }

  @include breakpoint(baby-bear) {
    padding: 0 !important;
    margin-bottom: 1em;
  }
}

.form-wrapper {
  margin: 0;
  padding: .5em;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 0; 
    height: 0;
    left: -1.8em; 
    border-top: 1.9em solid transparent;
    border-bottom: 1.9em solid transparent; 
    border-right: 1.9em solid rgba(0,0,0,.3); 
    @include transition(.25s ease-in-out);
  }

  .active &:before { border-right-color: $ie; }

  label {
    margin-bottom: 0.5em; 
    display: block;
    font: 2em 'Montserrat', sans-serif;
  }

  input {
    width: 100%;
    background: rgba(#eee, .3);
    height: 1.85em;
    font: 2em/1.5 sans-serif;
    padding: 0 .5em;
    outline:none;
    border: rgba(0,0,0, .75) solid .015em;
    border-right: .25em solid rgba(0, 0, 0, .3);
    border-left: .25em solid rgba(0, 0, 0, .3);
    @include transition(all .25s ease-in-out);

    &:focus {
      background: #fff;
      border-color: $ie;
      color: #000;
    }
  }

  & + p {
    font-size: 1.3em;
  }
}