/* ********** *
 * $STRUCTURE *
 * ********** */

article {
  
  &,
  &[data-high="3"].active {
    margin-top: 0;
  }

  &[data-high] {
    margin-bottom:2em;
  }

  &[data-high="1"],
  &[data-high="2"] {
    margin-bottom:0;
  }

  &[data-high="3"] {
    background: rgba(255, 255, 255, .3);
    padding-bottom:.85em;
  }

  &[data-text]:after {
    content:attr(data-text);
    top: 0;
    left: 0;
    z-index:-1;
  }
}

section {
  padding: 0 1em;

  section {
    padding: 0;
  }

  &[data-valign='center'] {
    text-align:center;

    p, ul, ol {
      text-align: left;
    }

    ul, ol {
      padding-left: 1.5em;
    }
  }

  &[data-valign='right'] {
    text-align:right;
  }
}