/* ********** *
 * $STRUCTURE *
 * ********** */

article {
  
  &,
  &[data-high="3"].active {
    margin-top: 0;
  }

  &[data-high="3"] {
    background: rgba(255, 255, 255, .3);
    margin-bottom:1em;

    section[data-cols="2"] {
      > div {
        // padding: 0;

        &:nth-child(even) {
          padding-left: .5em;

          @include breakpoint(baby-bear) {
            padding-left: 0;
          }
        }

        &:nth-child(odd) {
          padding-right: .5em;

          @include breakpoint(baby-bear) {
            padding-right: 0;
          }
        }
      }
    }

    &.filtered {
      section[data-cols="2"] {
        > div {
          width: 100%;

          &:nth-child(even), 
          &:nth-child(odd) {
            padding: 0;
          }
        }
      }
    }
  }

  &[data-high="4"] {
    margin-bottom:2em;
  }

  &[data-text]:after {
    content:attr(data-text);
    top: 0;
    left: 0;
    z-index:-1;
  }
}

section {
  padding: 0 1em;

  section {
    padding: 0;
  }

  &[data-valign='center'] {
    text-align:center;

    p, ul, ol {
      text-align: left;
    }

    ul, ol {
      padding-left: 1.5em;
    }
  }

  &[data-valign='right'] {
    text-align:right;
  }
}