/* ************** *
 * $IE STYLESHEET *
 * ************** */

/**
 * Compass imports
 */
@import "compass/css3/images";
@import "compass/css3";
@import "compass/css3/user-interface";

/**
 * Variables
 */
$ie: #0a90dd;
$fx: #f77918;
$ch: gold;
$sa: #999;
$op: #f63b3c;
$us: #4ae9b8;
$prism_css: #690;

/**
 * File imports
 */
@import "vendors/google-fonts";

%cf {
	*zoom: 1;

	&:after,
	&:before {
		clear: both;
		content: '';
		display: table;
	}
}

* {
	margin: 0;
	padding: 0;
}

html {
	max-height:100%;
}

body {
  font: 1.2em/1.5 "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","Lucida Grande",sans-serif;
  background: url(/img/grey.png) #eee;
  position: relative;
  overflow: visible;
  padding: 1px;
}


.nav-browser {
	li {
		width: 19.9%;
	}
}


h1 {
    text-align: center;
    font:3em 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: .1em 0 0 0;
    color: #333;
}

article,
section,
section > div {
	@extend %cf;
}

.header-test {
	@extend %cf;
	div {
		float: left;
		width: 47.9% !important;
		padding: 1%;
	}

	h2 {
		font-size: 1.7em;
	}
}

#ch, #fx, #sa, #op, #ie {
	margin: 1%;
	padding: 1% 0;
	border-top: 5px solid;

	h2 {
		padding-bottom: 5px;
		margin-bottom: 15px;
		border-bottom: 1px solid silver;
	}

	h3 {
		border-bottom: 1px dotted silver;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
}

#ch, #ch h2 { border-color: $ch; }
#fx, #fx h2 { border-color: $fx; }
#op, #op h2 { border-color: $op; }
#sa, #sa h2 { border-color: $sa; }
#ie, #ie h2 { border-color: $ie; }

.footer-test {
	padding: 1%;
}

.hack-wrapper {
	width: 49% !important;
	border: 1px solid silver;
	margin: .5em 1% .5em 0;

	pre {
		border-bottom: 1px solid silver;
		padding: 5px;
		margin :0;
	}

	ul {
		margin :0;
	}
}