//Compass
@import "compass/css3/images";
@import "compass/css3";
@import "compass/css3/user-interface";

//Imports
@import "crystallo",
        "prism",
        "font-awesome",
        "google-fonts";

/*
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=PT+Mono|Montserrat);
*/

//Variables
$ie: #0a90dd;
$fx: #f77918; // #e26c0c
$ch: gold; //#3cbc44;
$sa: #999; //#46bfe6;
$op: #f63b3c;
$us: #4ae9b8; // Our awesome colour :D

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html,
body {
  width:100%;
  height:100%;
}

* {
  &::-moz-selection,
  &::selection { 
    color: #fff; 
    background: rgba(0, 0, 0, .9);
  } 
}

body[data-theme='browserhacks'] {
  font: 1.2em/1.5 "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","Lucida Grande",sans-serif;
  background: url(/img/linedpaper.png) #eee;
  position: relative;

  [class*="fontawesome-"]:before {
    font-family:'fontawesome', sans-serif;
  }

  .nav-browser {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    font-size:1em;
    width:100%;

    li {
      width: 20%;
      float: left;
    }

    a {
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      height: 1em;
      color: #000;
      background: url("../img/browser-logos.png") no-repeat;
      background-size: 5em;
      border-top:.125em solid rgba(255, 255, 255, .25);
      border-bottom:.25em solid rgba(0, 0, 0, .5);
      
      &:hover { 
        height: 4.75em;
        color: #000;
      }

      &:visited { color: #000; }
    }

    .ch a { 
      background-color: rgba($ch, 1);
      background-position: center -11.1em;

      &:hover {
        background-color: $ch;
      }
    }

    .fx a { 
      background-color: rgba($fx, 1);
      background-position: center -5.5em;

      &:hover {
        background-color: $fx; 
      }
    }

    .ie a { 
      background-color: rgba($ie, 1);
      background-position: center 0.1em;

      &:hover {
        background-color: $ie; 
      }
    }

    .sa a { 
      background-color: rgba($sa, 1);
      background-position: center -16.9em;

      &:hover {
        background-color: $sa; 
      }
    }

    .op a { 
      background-color: rgba($op, 1);
      background-position: center -22.3em;

      &:hover {
        background-color: $op; 
      }
    }

  }

  h1 {
    text-align: center;
    font:4em 'PT Mono', sans-serif;
    text-shadow: 0 .03em white, 0 .06em silver;
    text-transform: uppercase;
    margin:1.2em 0 0 0;
    color: #333;

    a {
      color: #333 !important;
    }
  }

  .catch-phrase {
    text-align: center;
    font-size: 1.3em;
    color: $fx;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    position: relative;
  }

  .catch-phrase__anim {
    color: $ie;
    position: absolute;
  }

  .catch-phrase__space {
    padding-left: 0.85em;
    padding-left: 1ch;
  }

  .top-content {
    font-size: 1.2em;
  }

  .th {
    margin: .85em 0 .85em 0;
  }

  .th {
    border-bottom: .25em solid;
    padding: 0.5em 2em;
    background: url('../img/browser-logos.png') no-repeat;
    background-size: 2em;
    clear: both;
  }

  $logo_left: -.15em;

  .ie {
    .th { 
      border-color: $ie;
      background-position: $logo_left .25em;
    }
  }

  .ch { 
    .th { 
      border-color: $ch;
      background-position: $logo_left -4.25em;
    }
  }

  .sa {
    .th { 
      border-color: $sa;
      background-position: $logo_left -6.65em;
    }
  }

  .op {
    .th { 
      border-color: $op;
      background-position: $logo_left -8.75em;
    }
  }

  .fx {
    .th { 
      border-color: $fx;
      background-position: $logo_left -2em;
    }
  }

  article[data-high="3"].active {
    margin-top:0;
  }

  .filtered section[data-cols="2"] > div {
    width:100%;

    &:nth-child(even),
    &:nth-child(odd) {
      padding-left:0;
      padding-right:0;
    }
  }

  pre { 
    width:100%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 .15em rgba(0,0,0,0.1);

    .token.comment {
      color:#666;
    }
  }

  h2 {
    font: 1.85em 'Montserrat', sans-serif;
    padding-bottom: 0.4em;
    margin-bottom: 0.4em;
    border-bottom: .225em solid rgba(165, 165, 165, .7);
  }

  h3 {
    font: bold 1.15em 'PT Mono', sans-serif;
    border-bottom: 1px solid silver;
    padding-bottom: 0.5em;
  }

  h1 span[class*="fontawesome-"],
  h2 span[class*="fontawesome-"],
  h3 span[class*="fontawesome-"] {
    padding-right: .35em;
    font-weight: normal;
  }

  a,
  a:visited,
  a:active {
    text-decoration:none;
    color: $ie;
    @include transition-property(all);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in-out);
  }

  a:hover {
    color: $sa;
  }

  hr {
    background:none;
    border:none;
  }

  button {
    border:none;
    height:3em;
    background: #ccc;
    font-size:1.15em;
    overflow: hidden;
    position: relative;
    @include user-select(none);
    @include transition-property(all);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in-out);

    &:hover {
      background: $ie;
      color: white;
      font-size:1.15em;
      @include user-select(none);
    }

    &[data-type="2"] {
      text-align:left;
      padding-left: 6em;
    }
  }

  button[data-width="50"] {
    width:50%;
  }

  button[data-width="33"] {
    width:33.3%;
  }

  .btn-group button span {
    position: absolute;
    left: 6px;
    font-size: 4em;
    top: -12px;
    opacity: 0.3;
  }

  article {
    margin-top: 0;
  }

  article[data-high] {
    margin-bottom:2em;
  }

  article[data-high="1"] {
    margin-bottom:0;
  }

  article[data-high="2"] {
    min-height:12em;
    margin-bottom:0;

    div[data-type="search"] {
      @include transition(.15s width ease-in-out);

      &.active {
        width:100%;
        padding-right:0;
      }
    }

    .form-wrapper {
      margin: 0;

      label {
        font-size: 2em; 
        margin-bottom: 0.5em; 
        display: block;
      }

      input {
        width: 100%;
        background: #fff;
        height: 1.7em;
        font: 2em/1.5 sans-serif;
        padding: 0 .5em;
        // box-shadow: inset 0 0 .115em 0 rgba(0, 0, 0, .35);
        outline:none;
        border: rgba(0,0,0, .75) solid .015em;
        border-right: rgba(0, 0, 0, .4) solid .25em;
        border-left: rgba(0, 0, 0, .4) solid .25em;
        @include transition(all .25s ease-in-out);

        &:focus {
          background: #fff;
          border-color: $ie;
          box-shadow: none;
          color: #000;
        }
      }
    }

    .form-wrapper + p {
      font-size: 1.3em;
    }
  }

  article[data-high="3"] {
    background: rgba(255, 255, 255, .3);
    padding-bottom:.85em;
  }

  article[data-text]:after {
    content:attr(data-text);
    top:0;
    left:0;
    z-index:-1;
  }

  section[data-cols="1"] {
    > div {
      margin-bottom: 0.5em;
    }
  }

  section[data-cols="2"] {
    > div:nth-child(odd) {
      padding: 0 .5em 0 0;
    }
    > div:nth-child(even) {
      padding: 0 0 0 .5em;
    }
  }

  section[data-cols="3"] {
    > div:nth-of-type(1) {
      padding-right:.5em;
    }

    > div:nth-of-type(2) {
      padding-left:.5em;
      padding-right:.5em;
    }

    > div:nth-of-type(3) {
      padding-left:.5em;
    }
  }

  section {
    padding: 0 1em;

    section {
      padding: 0;
    }
  }

  section[data-valign='center'] {
    text-align:center;

    p, ul, ol {
      text-align: left;
    }

    ul, ol {
      padding-left: 1.5em;
    }
  }

  section[data-valign='right'] {
    text-align:right;
  }

  pre {
    font-family: monospace;
    white-space: pre-wrap;
  }

  .btn-top {
    padding-right: 1em;
    font-size:1.4em;
  }
}

/* "normal" screens */
@media screen and (max-width: 79em) {
  body[data-theme='browserhacks'] {
  }
}

/* "small" screens */
@media screen and (max-width: 66em) {
  body[data-theme='browserhacks'] {

    h1 {
      font-size:3em;
    }

    .nav-browser {
      font-size:.75em;

      a {
        height:2em;
      }
    }

    section:not('.btn-group') > div,
    section[data-cols="2"] > div:nth-child(even),
    section[data-cols="2"] > div:nth-child(odd),
    section[data-cols="3"] > div:nth-of-type(1),
    section[data-cols="3"] > div:nth-of-type(2),
    section[data-cols="3"] > div:nth-of-type(3) {
      padding: .25em;
    }

    section[data-cols="3"] {
      > div:nth-of-type(1) {
        padding-right:.5em;
      }

      > div:nth-of-type(2) {
        padding-left:.5em;
        padding-right:0;
      }

      > div:nth-of-type(3) {
        padding-left:0;
        padding-top: 1em;
      }
    }
  }
}

@media screen and (max-width: 44em) {
  body[data-theme='browserhacks'] {
    font-size:.925em;

    pre { 
      width: 100%; 
      margin: 1% 0; 
    }

    section[data-cols="2"] {
      > div {
        padding: 0 !important;
      }
    }

    section[data-cols="3"] {
      > div:nth-of-type(1),
      > div:nth-of-type(2),
      > div:nth-of-type(3) {
        padding: 0 0 .5em 0;
      }
    }

    article[data-high="2"] {
      div[data-type="search"] {
        @include transition(0s width ease-in-out);

        &.active {
          width:auto;
        }
      }
    }
  }
}