/**
 * Scrollbars
 */
::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(217, 217, 217, .5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa; 
}