/**
 * User agent sniffing
 */
.ua {
    background: lighten(#0a90dd, 45%);
    border-radius: .2em;
    font-size: .8em;
    color: adjust-hue(lighten(#0a90dd, 25%), 10%);
    padding: .5em;
    float: left;
    margin: 0;
    font-weight: bold;

    @include breakpoint(mama-bear) {
        float: none;
        margin: 1em 0;
    }
}