<div class="additional-info  centered  grid">
  <div class="grid__col--50">
    <h2>Additional information</h2>
    <p>Browserhacks is mostly based on the <a href="http://www.paulirish.com/2009/browser-specific-css-hacks/">big list of CSS browser hacks</a> by Paul Irish. Other posts like <a href="http://blog.keithclark.co.uk/moving-ie-specific-css-into-media-blocks/">Moving IE specific CSS to media blocks</a> by Keith Clark, <a href="http://www.thespanner.co.uk/2009/01/29/detecting-browsers-javascript-hacks/">Detecting browsers with JS hacks</a> by Gareth Eyes and <a href="https://gist.github.com/necolas/983116">IE CSS hacks</a> by Nicolas Gallagher greatly helped.</p>
    <p>Many thanks to <a href="https://github.com/jeffclayton">Jeff Clayton</a> for his help with the tests and the creation of new hacks. If you'd like to contribute too, please hit us on <a href="https://github.com/4ae9b8/browserhacks">GitHub</a>.</p>
  </div>

  <div class="grid__col--50">
    <h2>Further reading</h2>
    <p>You may also want to have a look at these related resources:</p>
    <ul>
      <li><a href="http://csswizardry.com/2013/04/shame-css/">shame.css concept</a> by Harry Roberts</li>
      <li><a href="http://webaim.org/blog/user-agent-string-history/">history behind user-agent strings</a> by Aaron Andersen</li>
      <li><a href="http://mathiasbynens.be/demo/css-hacks">hunting a CSS hack for IE 8 only</a> by Mathias Bynens</li>
    </ul>
  </div>
</div>
