<footer class="footer" role="contentinfo">
  <div class="centered">
    <div class="copyright">
      <a href="#browserhacks" title="top" class="btn-top">
        {% include icon.html icon="arrow-up" %}
      </a>
      <p>Made by <a href="https://twitter.com/KittyGiraudel" target="_blank"> Kitty Giraudel</a>, <a href="https://twitter.com/TimPietrusky" target="_blank">Tim Pietrusky</a> and <a href="http://twitter.com/fweinb" target="_blank">Fabrice Weinberg</a>. <br>Design by <a href="https://twitter.com/_joshnh">Joshua Hibbert</a>. Tests by <a href="https://github.com/jeffclayton">Jeff Clayton</a>.</p>
      </p>
    </div>

    <div>
      <a href="https://github.com/4ae9b8/browserhacks" class="button" target="_blank">
        {% include icon.html icon="github" %}
        Add hacks / report bugs
      </a>
      <a href="http://twitter.com/share?text={{ site.description|cgi_escape }}&url={{ site.url }}" class="button" target="_blank">
        {% include icon.html icon="twitter" %}
        Spread the word
      </a>
    </div>
  </div>
</footer>
