<header class="header  centered  btn-group" role="banner">
  <div class="header__logo">
    <h1>
      <a href="http://browserhacks.com">Browser<span>hacks</span></a>
    </h1>
  </div>

  <div>
    <a href="https://github.com/4ae9b8/browserhacks" class="button" target="_blank">
      {% include icon.html icon="github" %}
      Contribute on GitHub</a>
    <a href="http://twitter.com/Browserhacks" class="button" target="_blank">
      {% include icon.html icon="twitter" %}
      @browserhacks</a>
  </div>
</header>
