<div data-type="description" class="description  centered  grid">
  <div class="grid__col--25">
    <h2 data-type="1">What’s this?</h2>
      <p>Browserhacks is an extensive list of <strong>browser specific CSS and JavaScript hacks</strong> from all over the interwebs.
      <!-- Special thanks to <a href="http://paulirish.com/2009/browser-specific-css-hacks/">Paul Irish' comprehensive post</a> and <a href="https://gist.github.com/983116">Nicolas Gallagher's additions</a>.-->
      <span class="desktop-only">Press the first letter of a browser to jump to the according section, like <span class="shortcut">F</span> for Firefox.</span></p>
  </div>

  <div class="grid__col--25">
    <h2 data-type="2">How to?</h2>
    <ol>
      <li>Pick the hack you want</li>
      <li>Copy it into your stylesheet</li>
      <li>Add the style you want between the braces</li>
      <li>Enjoy the new styles for the browser you targeted!</li>
    </ol>
  </div>
 
  <div class="grid__col--25">
    <h2 data-type="3">Reminder!</h2>
    <p>Please keep in mind using a hack is not always the perfect solution. It can be useful to fix some weird browser specific bug, but in most cases you should fix your CSS/JS or use <a href="http://modernizr.com">feature detection</a>.</p>
  </div>

  <div class="grid__col--25">
    <div class="ad">
      <h2>Powered by:</h2>
      <div>
        <div id="carbonads-container">
          <div class="carbonad">
            <div id="azcarbon"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="browserstack-ad">
          <a href="http://browserstack.com" target="_blank">
            <p>Tests powered by</p>
            <img src="assets/images/browserstack.png" alt="BrowserStack" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
