<script src="assets/js/vendor/jquery.min.js"></script>
<script src="assets/js/vendor/prism.min.js" data-manual="true"></script>
<script src="assets/js/vendor/select.min.js"></script>
<script src="assets/js/vendor/carbonads.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/tests.js"></script>
<script>testWidget.init();</script>
<script type="text/javascript">
  var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-38522111-1']);_gaq.push(['_setDomainName', 'browserhacks.com']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
</script>
