<div class="search centered grid js-powered">
  <div class="options grid__col--50">
    <div class="search__group">
      <input type="checkbox" name="show-legacy" id="show-legacy" title="Show / hide hacks for old browser">
      <label for="show-legacy" title="Show / hide hacks for old browser">Show legacy hacks</label>
    </div>
    <div class="search__group">
      <input type="checkbox" name="show-test" id="show-test" title="Show / hide tests for your browser">
      <label for="show-test" title="Show / hide tests for your browser">Enable tests</label>
    </div>
  </div>
 
  <div class="grid__col--50" data-type="search">
    <label for="search" class='visually-hidden'>Find a hack</label>
    <input class="search__input" type="text" name="search" id="search" placeholder="Browser search (e.g. IE 6)" spellcheck="false">
  </div>
</div>
