* {
	@include box-sizing(border-box);
}

html {
	border-top: ($baseline / 3) solid $white;
	overflow-x: hidden;

	&:after {
		content: '';
		height: ($baseline / 3);
		left: 0;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		@include background-image(linear-gradient(
			90deg,
			$android 17%,
			$chrome 17%, $chrome 33%,
			$firefox 33%, $firefox 50%,
			$internetExplorer 50%, $internetExplorer 67%,
			$opera 67%, $opera 83%,
			$safari 83%
		));
	}
}

body {
	overflow-x: hidden;
}