.message {
	&.nothing {
      background: rgba(#c00, .9);
      margin-top: -2em;

      h3 {
      	color: #fff;
      	font-weight: 500;

      	text-align: center;

      	> span {
      		display: block;
      		width: 100%;
      		font-size: 3em;
      		margin-top: .25em;
      		color: #006;
			
			@include transform (rotate(-90deg));
      	}
      }
	}
}