/* ***** *
 * $MAIN *
 * ***** */

/**
 * Body
 */
body {
    font: 1.2em/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica","Arial", "Lucida Grande", sans-serif;
    position: relative;

    @include breakpoint(baby-bear) { 
        font-size:.925em;
    }
}


/**
* Links
*/
a {
    &,
    &:visited,
    &:active {
        text-decoration:none;
        color: #0a90dd;
        @include transition(color .25s ease-in-out)
    }

    &:hover,
    &:focus {
        color: #999;
    }
}