/**
 * Hacks containers
 * More in _prism.scss
 * regarding syntax highlighting
 */ 
.browser-wrapper__hack {
    position: relative;

    pre { 
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        background: #f5f2f0;
        margin-bottom: 0;
        padding: .5em;
        border-bottom: .1em solid rgba(0,0,0,.1);

        @include breakpoint(baby-bear) {
            width: 100%; 
            margin: 1% 0 0 0; 
        }
    }

    &[data-legacy=true] {
        display: none;
    }

    &:target {
        pre {
            border: .15em solid deepskyblue;
            border-bottom: none;
            border-radius: .25em .25em 0 0;
        }

        .browser-list {
            border: .15em solid deepskyblue;
            border-top: none;
            border-radius: 0 0 .25em .25em;
        }
    }
}

.line {
    display: block;
}

.browser-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f5f2f0;
}

.browser-list__item {
    padding: .25em .5em .25em .5em;
    @include inline-block(middle);
    font-size: .8em;
    color: #333;
    border-right: 1px solid rgba(0,0,0,0.1);

    @include breakpoint(mama-bear) { 
        font-size: 1em;
    }
}

.browser-version {
    padding: 0 .25em;
    font-size: .8em;
    font-weight: bold;
}

.browser-name { 
    @include breakpoint(mama-bear) {
        display: none; 
    }
}

.browser-wrapper__link {
    bottom: .5em;
    right: .5em;
    position: absolute;
    display: block;
    color: silver;
    padding: 0.25em 0.5em 0.25em 0.5em;
    font-size: .8em;

    @include breakpoint(mama-bear) { 
        font-size: 1em;
    }
}