/* ******* *
 * $HEADER *
 * ******* */

.header {
    margin: 3em 0 2.5em 0;

    section:first-child {
        margin-bottom: 2.5em;
    }

    @include breakpoint(mama-bear) {
        div {
            width: 100% !important;
        }
    }
}

.header__title {
    font:3.5em 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -2px;

    span {
        color: $fx;
        @include transition(color .25s ease-in-out);
    }

    a.logo {
        color: #555;

        &:hover,
        &:focus {
            color: $fx;

            span {
                color: #555;
            }
        }
    }    

    @include breakpoint(baby-bear) {
        font-size: 2.75em;

        span {
            display: block;
        }
    }

    @include breakpoint(mama-bear) {
        text-align: center;
    }
}

.shortcut {
    @include inline-block(middle);
    background: #f5f2f0;
    border-radius: .2em;
    padding: .1em;
    width: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #666;
    color: rgba(0,0,0,.6);
    border: 1px solid rgba(0,0,0,0.15);
}

    