/* ********* *
 * $HEADINGS *
 * ********* */

h2 {
    font: 1.8em 'Montserrat', sans-serif;
    padding-bottom: .4em;
    margin: 0;
    border-bottom: .225em solid #aaa;
}

h3 {
    font: bold 1.15em 'PT Mono', sans-serif;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 0.25em;
    margin-bottom:0;
    margin-top:.25em;
}

/**
* Browser headings
*/
.th {
    border-bottom: .25em solid;

    a { color: black; }
    
    span {
        font-size: 1.5em;
        @include inline-block(middle);
        text-shadow: 0 1px solid rgba(0,0,0,.1);
    }

    .ie & { border-color: $ie; span { color: $ie; } }
    .sa & { border-color: $sa; span { color: $sa; } }
    .op & { border-color: $op; span { color: $op; } }
    .ch & { border-color: $ch; span { color: $ch; } }
    .fx & { border-color: $fx; span { color: $fx; } }
}