/* ************ *
 * $BROWSER NAV *
 * ************ */

.nav-browser {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;

    li {
        width: 100%/length($browsers);
        *width: 100%/length($browsers) - .1%;
        float: left;
    }

    a {
        display: block;
        overflow: hidden;
        height: .5em;
        @include transition(.25s);

        span {
            display: block;
            text-align: center;
            font-size: 3em;
            color: white;
            margin: .1em auto;
        }

        &:hover,
        &:focus { 
            height: 4.5em;
            color: #000;
        }

        &:visited { color: #000; }


        @include breakpoint(mama-bear) {
            height:2em;
        }
    }

    @each $b in $browsers {
        .#{nth($b, 1)} a {
            background: nth($b, 2);
        }
    }

    @include breakpoint(mama-bear) {
        font-size:.75em;
    }
}