/* ******** *
 * $HELPERS *
 * ******** */

/**
 * Clearfix + silent clearfix
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%cf:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Visually yet accessible content
 */ 
.visually-hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

/**
 * Hidden on small views
 */
.desktop-only {
  @include breakpoint(mama-bear) {
    display: none;
  }
}