/* ********** *
 * $VARIABLES *
 * ********** */

$ie: #0a90dd;
$fx: #f77918;
$ch: gold;
$sa: #999;
$op: #f63b3c;
$us: #4ae9b8;
$an: #a4c639;
$prism_css: #690;

$browsers: ie #0a90dd,
		   fx #f77918,
		   ch gold,
		   sa #999,
		   op #f63b3c,
		   an #a4c639;