/* ********** *
 * $VARIABLES *
 * ********** */

$us: #4ae9b8;
$prism_css: #690;

/**
 * Browser list
 * Shorthand, color
 */
$browsers: ie #0a90dd,
		   fx #f77918,
		   ch gold,
		   sa #999,
		   op #f63b3c,
		   an #a4c639;