/* ********** *
 * $VARIABLES *
 * ********** */

$us: #4ae9b8;
$prism_css: #690;

$bh--unit-alpha: .25em; 

/**
 * Browser list
 * Shorthand, color
 */
$browsers: 
	ch gold,
	fx #f77918,
	ie #0a90dd,
    op #f63b3c,
	sa #999,
	an #a4c639
;