<!doctype html>
<!--[if lt IE 9]> <html class="ie"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

{% include head.html %}

<body id="browserhacks">
    {% include sprite.svg %}
    {% include header.html %}
    {% include intro.html %}
    {% include search.html %}

    <!-- Content -->
    <main id="content" class="main" aria-label="Content">
        {{ content }}
    </main>

    {% include extra.html %}
    {% include quotes.html %}
    {% include footer.html %}
    {% include scripts.html %}
    </body>
</html>
