@mixin box-shadow($value...) {
	-webkit-box-shadow: $value;
	   -moz-box-shadow: $value;
			box-shadow: $value;
}
@mixin box-sizing($value: border-box) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
			box-sizing: $value;
}
@mixin linear-gradient($angle, $colorStops...) {
	background-image: -webkit-linear-gradient($angle, $colorStops);
	background-image:    -moz-linear-gradient($angle, $colorStops);
	background-image:      -o-linear-gradient($angle, $colorStops);
	background-image:         linear-gradient($angle, $colorStops);
}
@mixin section-border($color) {
	border-color: tint($color, 25%);
	background-color: tint($color, 85%);
}
@mixin transition($time: .15s) {
	-webkit-transition: $time;
	   -moz-transition: $time;
		 -o-transition: $time;
			transition: $time;
}
