* {
	@include box-sizing;
}
html {
	border-top: ($baseline / 3) solid $white;
	overflow-x: hidden;

	&:after {
		content: '';
		height: ($baseline / 3);
		left: 0;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		@include linear-gradient(
			90deg,
			$android 17%,
			$chrome 17%, $chrome 33%,
			$firefox 33%, $firefox 50%,
			$internetExplorer 50%, $internetExplorer 67%,
			$opera 67%, $opera 83%,
			$safari 83%
		);
  }
}
body {
	overflow-x: hidden;
}
.header {
	border-bottom: 1px solid $lightGrey;
	overflow: hidden;
	padding: $baseline $baseline 0;
	text-align: right;
}
.header__logo {
	float: left;

	h1 {
		font-size: 2.5em;
		line-height: 1.2;
		margin-bottom: 0;
	}
	a {
		color: $black;
		display: block;
		margin: ((($baseline / 2.5) / 2) * -1);
		padding: (($baseline / 2.5) / 2);
		text: {
			decoration: none;
			transform: uppercase;
		}
		@include transition;

		span {
			color: $firefox;
			@include transition;
		}
		&:hover,
		&:focus {
			color: $safari;

			span {
				color: $chrome;
			}
		}
	}
}
.header__links {

	a {
		background-color: $internetExplorer;
		border: 1px solid darken($internetExplorer, 10%);
		color: $white;
		margin-bottom: $baseline;
		margin-left: $baseline;
		padding: ($baseline / 2) $baseline;
		text-decoration: none;
		@include box-shadow(inset 0 1px 0 hsla(0,0%,100%,.25));
		@include inline-block;
		@include transition;

		&:hover,
		&:focus {
			background-color: lighten($internetExplorer, 5%);
		}
		&:active {
			background-color: darken($internetExplorer, 5%);
			@include box-shadow(inset 0 1px 0 hsla(0,0%,0%,.1));
		}
	}
	span {
		font-size: 1.5em;
		height: (($baseline / 1.5) * .9);
		line-height: 1;
		margin-right: ($baseline / 2);
		position: relative;
		top: -1px;
		@include inline-block;
	}
}
.description {
	background-color: $darkWhite;
	border-bottom: 1px solid $lightGrey;
	margin: 0 ($baseline * -1);
	padding: $baseline $baseline 0;

	.grid__col--25 {
		padding: 0 $baseline;
	}
	h2 {
		color: $darkGrey;
		font-size: 2em;
		line-height: 1;
		margin-bottom: ($baseline / 3);
	}
	p,
	li {
		font-size: 1.2em;
	}
	p {
		margin-bottom: ($baseline / 1.2);
	}
}
.browserstack-ad {
	background-color: $white;
	border: 1px solid $lightGrey;
	margin-bottom: $baseline;
}
.shortcut {
	background-color: $white;
	border: 1px solid darken($lightGrey, 10%);
	border-bottom-width: 2px;
	border-radius: .25em;
	font-family: monospace;
	position: relative;
	padding: .25em .5em;
	top: -.125em;
}
.search {
	background-color: hsla(0,0%,100%,.95);
	border-bottom: 1px solid darken($lightGrey, 5%);
	box-shadow: 0 .1em .1em hsla(0,0%,0%,.1);
	padding: ($baseline / 2) $baseline;
	@include linear-gradient(0deg, hsla(0,0%,100%,0), white);

	&.fixed {
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 999;
	}
	input[type="checkbox"] {
		position: relative;
		top: -($baseline / 8);
		vertical-align: middle;
	}
	label {
		cursor: pointer;
		font-size: 1.2em;
		line-height: 2.5;
		margin-right: ($baseline / 1.2);
		padding-left: (($baseline / 1.2) / 4);
	}
}
.search__input {
	background-color: $darkWhite;
	border: 1px solid darken($lightGrey, 25%);
	box-shadow: inset 0 .1em .1em hsla(0,0%,0%,.1);
	color: $black;
	font-size: 1.25em;
	line-height: 1.2;
	margin: 0;
	padding: ($baseline / 3) ($baseline / 2);
	width: 100%;
	vertical-align: baseline;
}
.browser-wrapper {
	padding: 0 $baseline;

	h2 {
		background-color: lightgrey;
		border-top: (($baseline / 2.25) / 3) solid grey;
		margin: (($baseline / 2.25) * 2) (($baseline / 2.25) * -1) 0;
		padding: ($baseline / 4) ($baseline / 2.25) ($baseline / 3);

		span {
			margin-right: (($baseline / 2.25) / 2);
			position: relative;
			top: (($baseline / 2.25) / 8);
		}
		a {
			color: $black;
			text-decoration: none;
		}
	}
	h3 {
		color: $darkGrey;
		margin-top: (($baseline / 1.5) * 2);
	}
}
h2 {

	.an & {
		@include section-border($android);
	}
	.ch & {
		@include section-border($chrome);
	}
	.fx & {
		@include section-border($firefox);
	}
	.ie & {
		@include section-border($internetExplorer);
	}
	.op & {
		@include section-border($opera);
	}
	.sa & {
		@include section-border($safari);
	}
}
.hack {
	background-color: darken($darkWhite, 5%);
	border: 1px solid darken($lightGrey, 5%);
	margin-bottom: $baseline;
	overflow: hidden;

	.browser-wrapper__label {
		border-bottom: 1px solid darken($lightGrey, 5%);
		margin-bottom: 0;
		padding: ($baseline / 4) ($baseline / 2);
	}
	pre {
		background-color: $darkWhite;
		border-bottom: 1px solid darken($lightGrey, 5%);
		border-right: 1px solid darken($lightGrey, 5%);
		overflow-x: auto;
		margin: 0 -1px 0 0;
		padding: ($baseline / 2);
	}
	.hack-list {
		float: left;
		list-style: none;
		margin: 0;

		li {
			border-right: 1px solid darken($lightGrey, 5%);
			padding: ($baseline / 4) ($baseline / 2);
			@include inline-block;

			span {
				font-size: .8em;
			}
			.browser-version {
				font-weight: bold;
			}
		}
	}
	.hack-list--options {
		float: right;

		li {
			border-left: 1px solid darken($lightGrey, 5%);
			border-right: 0;
		}
		.hack-id {
			padding: 0;

			a {
				border-bottom: 0;
				color: $internetExplorer;
				display: block;
				padding: ($baseline / 4) ($baseline / 2);
				text-decoration: none;

				&:hover,
				&:focus {
					color: lighten($internetExplorer, 20%);
				}
			}
		}
	}
}
span.line {
	border-radius: 4px;
	margin: -2px;
	padding: 2px;
}
.additional-info {
	background-color: $darkWhite;
	border-bottom: 1px solid $lightGrey;
	border-top: 1px solid $lightGrey;
	margin-bottom: $baseline;
	margin-top: $baseline;
	padding: $baseline $baseline 0;

	h2 {
		color: $darkGrey;
		font-size: 2em;
		line-height: 1;
		margin-bottom: ($baseline / 3);
	}
	p,
	li {
		font-size: 1.2em;
	}
	p {
		margin-bottom: ($baseline / 1.2);
	}
}