// Font Families
$copyFont:  'Open Sans', sans-serif;
$titleFont: 'Montserrat', 'Open Sans', sans-serif;

// Browser Colours
$android:          #a4c639;
$chrome:           #ffd700;
$firefox:          #f77918;
$internetExplorer: #0a90dd;
$opera:            #f63b3c;
$safari:           #999;

// Other Colours
$black: #333;
$darkGrey: #666;
$darkWhite: #f3f3f3;
$lightGrey: #ddd;
$white: #fff;

// Baseline
$baseline: 1.5em;
